@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.remark-slide-content {
  font-size: 25px;
}

.remark-slide-content h1 {
    font-size: 1.7em;
}

.remark-slide-content h2 {
    font-size: 1.4em;
}

.remark-slide-content h3 {
    font-size: 1.2em;
}

.small_text {
  font-size: 0.95rem;
}

.shadowed {
  box-shadow: 3px 3px 5px grey;
}

.bullet_emoji {
  font-size: 2.5rem;
}

.iconed {
  font-size: 9rem;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}
